# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

dissertation/*.aux
dissertation/*.bcf
dissertation/*.bbl
dissertation/*.blg
dissertation/*.fdb_latexmk
dissertation/*.fls
dissertation/*.lof
dissertation/*.log
dissertation/*.lot
dissertation/*.out
dissertation/*.run.xml
dissertation/*.synctex.gz
dissertation/*.toc
